doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title ТЯЖМАШ | Интерактивный стол
    link(rel='stylesheet', href='../styles/animate.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // main

    main.tm-local.wow.fadeIn

      // container

      .tm-container.tm-container_local

        // header

        header.header

          h1.title-publ
            | История АО "ТЯЖМАШ"

        // / header

        // content

        .tm-content

          img.mb-10.center(src="../img/history/1.jpg" alt="@@")
          img.mb-10.center(src="../img/history/2.jpg" alt="@@")
          img.mb-10.center(src="../img/history/3.jpg" alt="@@")
          img.mb-10.center(src="../img/history/4.jpg" alt="@@")
          img.mb-10.center(src="../img/history/5.jpg" alt="@@")
          img.mb-10.center(src="../img/history/6.jpg" alt="@@")
          img.mb-10.center(src="../img/history/7.jpg" alt="@@")
          img.mb-10.center(src="../img/history/8.jpg" alt="@@")
          img.mb-10.center(src="../img/history/9.jpg" alt="@@")
          img.mb-10.center(src="../img/history/10.jpg" alt="@@")
          img.mb-10.center(src="../img/history/11.jpg" alt="@@")
          img.mb-10.center(src="../img/history/12.jpg" alt="@@")
          img.mb-10.center(src="../img/history/13.jpg" alt="@@")
          img.mb-10.center(src="../img/history/14.jpg" alt="@@")
          img.mb-10.center(src="../img/history/15.jpg" alt="@@")
          img.mb-10.center(src="../img/history/16.jpg" alt="@@")
          img.mb-10.center(src="../img/history/17.jpg" alt="@@")
          img.mb-10.center(src="../img/history/18.jpg" alt="@@")
          img.mb-10.center(src="../img/history/19.jpg" alt="@@")
          img.mb-10.center(src="../img/history/20.jpg" alt="@@")
          img.mb-10.center(src="../img/history/21.jpg" alt="@@")
          img.mb-10.center(src="../img/history/22.jpg" alt="@@")
          img.mb-10.center(src="../img/history/23.jpg" alt="@@")
          img.mb-10.center(src="../img/history/24.jpg" alt="@@")
          img.mb-10.center(src="../img/history/25.jpg" alt="@@")
          img.mb-10.center(src="../img/history/26.jpg" alt="@@")
          img.mb-10.center(src="../img/history/27.jpg" alt="@@")
          img.mb-10.center(src="../img/history/28.jpg" alt="@@")
          img.mb-10.center(src="../img/history/29.jpg" alt="@@")
          img.mb-10.center(src="../img/history/30.jpg" alt="@@")
          img.mb-10.center(src="../img/history/31.jpg" alt="@@")
          img.mb-10.center(src="../img/history/32.jpg" alt="@@")
          img.mb-10.center(src="../img/history/33.jpg" alt="@@")
          img.mb-10.center(src="../img/history/34.jpg" alt="@@")
          img.mb-10.center(src="../img/history/35.jpg" alt="@@")
          img.mb-10.center(src="../img/history/36.jpg" alt="@@")
          img.mb-10.center(src="../img/history/37.jpg" alt="@@")
          img.mb-10.center(src="../img/history/38.jpg" alt="@@")
          img.mb-10.center(src="../img/history/39.jpg" alt="@@")
          img.mb-10.center(src="../img/history/40.jpg" alt="@@")
          img.mb-10.center(src="../img/history/41.jpg" alt="@@")
          img.mb-10.center(src="../img/history/42.jpg" alt="@@")
          img.mb-10.center(src="../img/history/43.jpg" alt="@@")
          img.mb-10.center(src="../img/history/44.jpg" alt="@@")
          img.mb-10.center(src="../img/history/45.jpg" alt="@@")
          img.mb-10.center(src="../img/history/46.jpg" alt="@@")
          img.mb-10.center(src="../img/history/47.jpg" alt="@@")
          img.mb-10.center(src="../img/history/48.jpg" alt="@@")
          img.mb-10.center(src="../img/history/49.jpg" alt="@@")
          img.mb-10.center(src="../img/history/50.jpg" alt="@@")
          img.mb-10.center(src="../img/history/51.jpg" alt="@@")
          img.mb-10.center(src="../img/history/52.jpg" alt="@@")
          img.mb-10.center(src="../img/history/53.jpg" alt="@@")
          img.mb-10.center(src="../img/history/54.jpg" alt="@@")
          img.mb-10.center(src="../img/history/55.jpg" alt="@@")
          img.mb-10.center(src="../img/history/56.jpg" alt="@@")
          img.mb-10.center(src="../img/history/57.jpg" alt="@@")
          img.mb-10.center(src="../img/history/58.jpg" alt="@@")
          img.mb-10.center(src="../img/history/59.jpg" alt="@@")
          img.mb-10.center(src="../img/history/60.jpg" alt="@@")
          img.center(src="../img/history/61.jpg" alt="@@")

        include ../blocks/block-footer/footer.pug

    // scripts

    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/scripts.js")