doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title ТЯЖМАШ | Интерактивный стол
    link(rel='stylesheet', href='../styles/animate.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // main

    main.tm-local.wow.fadeIn

      // container

      .tm-container.tm-container_local

        // header

        header.header

          h1.title-publ
            | Награды АО "ТЯЖМАШ"

        // / header

        // content

        .tm-content
        
          // rewards

          .rewards

            // item

            .rewards__item

              h2
                | ОРДЕН <br/> ТРУДОВОГО КРАСНОГО ЗНАМЕНИ

              img(src="../img/rewards/reward-1.png" alt="@@")
            
              p
                | За успешное выполнение заданий правительства по строительству завода, за организацию производства локомобилей и за изготовление боеприпасов. <br/> (июль 1945г)

            // item

            .rewards__item          

              h2
                | ОРДЕН <br/> ОКТЯБРЬСКОЙ РЕВОЛЮЦИИ
            
              img(src="../img/rewards/reward-2.png" alt="@@")
            
              p
                | За заслуги  в создании и производстве новой техники для энергетической, горнодо-бывающей, космической и других отраслей народного хозяйства. <br/> (июль 1976г.)

            // item

            .rewards__item

              h2
                | ПЕРЕХОДЯЩЕЕ КРАСНОЕ ЗНАМЯ ГОСУДАРСТВЕННОГО КОМИТЕТА ОБОРОНЫ
            
              img(src="../img/rewards/reward-3.png" alt="@@")
            
              p
                | За первенство в социалистическом соревновании. <br/> (1942г)

          // rewards

          .rewards

            // item

            .rewards__item

              h2
                | БЛАГОДАРНОСТЬ ПРЕЗИДЕНТА  РФ <br/> Д.А. МЕДВЕДЕВА
            
              img(src="../img/rewards/reward-4.jpg" alt="@@")
            
              p
                | За большой вклад в развитие тяжелого машиностроения, разработку и      выпуск высокотехнологичной продукции. <br/>  (29.12.2011г)

            // item

            .rewards__item

              h2
                | БЛАГОДАРНОСТЬ ПРЕЗИДЕНТА РФ <br/> В.В. ПУТИНА
            
              img(src="../img/rewards/reward-5.jpg" alt="@@")

              p
                | За достигнутые трудовые успехи и высокие показатели в профессиональной деятельности. <br/> (12.04.2016г)

            // item

            .rewards__item

              h2
                | АО «ТЯЖМАШ» в рейтинге 50-ти крупнейших технологических компаний России

              img(src="../img/rewards/reward-6.png" alt="@@")

              p
                | 21-я строка в рейтинге, которые занимаются разработкой и производством уникальных технологических продуктов и технологий.


        include ../blocks/block-footer/footer.pug

    // scripts

    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/scripts.js")