doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title ТЯЖМАШ | Интерактивный стол
    link(rel='stylesheet', href='../styles/animate.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // main

    main.tm-local.wow.fadeIn

      // container

      .tm-container.tm-container_local

        // header

        header.header

          h1.title-publ
            | План схема

        // / header

        // content

        .tm-content

          img.image-product-full.center(src="../img/map.jpg" alt="@@")

        include ../blocks/block-footer/footer.pug

    // scripts

    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/scripts.js")