doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title ТЯЖМАШ | Интерактивный стол
    link(rel='stylesheet', href='../styles/animate.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // main

    main.tm-local.wow.fadeIn

      // container

      .tm-container.tm-container_local

        // header

        header.header

          h1.title-publ
            | Позиция АО «ТЯЖМАШ» на рынке сбыта

        // / header

        // content

        .tm-content

          p
            | Акционерное общество «ТЯЖМАШ» является крупным, экономически устойчивым предприятием, эффективно работающим в отрасли тяжелого, энергетического и транспортного машиностроения.  Сегодня «ТЯЖМАШ» — это активная компания, уверенно чувствующая себя в современной бизнес-среде.
          p
            | АО «ТЯЖМАШ» — это уникальное предприятие полного цикла, которое включает в себя заготовительное, сварочное и механосборочное производство. Проводимая на предприятии программа технического перевооружения позволяет непрерывно обновлять станочный парк, модернизируя имеющееся и закупая новое высокоточное оборудование. Современное оборудование, команда специалистов высокой квалификации, применение новейших технологий — все это позволяет АО «ТЯЖМАШ» наиболее эффективно строить деловые отношения, налаживать партнерские связи в различных странах мира.

          hr

          h3
            | АО «ТЯЖМАШ» (г. Сызрань, Российская Федерация).
          p
            | Разработка и изготовление рудоразмольного, дробильного, топливоприготовительного, транспортирующего оборудования, гидротурбин, оборудования для АЭС и наземных стартовых комплексов космодромов.

          hr

          h3
            | ЗАО «СЫЗРАНСКИЙ ГИДРОТУРБИННЫЙ ЗАВОД» (г. Сызрань, Российская Федерация) 
          p
            | обработка металлических изделий с использованием основных технологических процессов.

          hr

          h3
            | «CKD Blansko-Holding» (г. Бланско, Чешская Республика).
          p
            | Производство гидротурбин, тяжёлых станков, гидротехнического и другого оборудования.

          hr

          h3
            | «CKD Blansko SMALL HYDRO» (г. Бланско, Чешская Республика).
          p
            | Производство гидротурбин, комплексного гидротехнического оборудования для гидроэлектростанций, производство тяжёлых станков и другого оборудования

          hr

          h3
            | «СKD Blansko Strojirny, a.s. » (Чешская Республика, г. Бланско )
          p
            | Производство гидротурбин, комплексного гидротехнического оборудования для гидроэлектростанций, производство тяжелых станков и другого оборудования

          hr

          h3
            | «TYAZHMASH ECUADOR S.A» (Эквадор)
          p
            | Монтаж, производство, ремонт и проектирование электромеханического и гидромеханического металлического оборудования всех типов; эксплуатация, техническое обслуживание реконструкция электростанций и подстанций всех типов, технологических и производственных установок.

          hr

          h3
            | ЗАО «ТЕХПРОМ» (г. Сызрань, Российская Федерация).
          p
            | разработка компьютерного программного обеспечения.

          hr

          h3
            | АО «Ремстрой» (г. Сызрань, Российская Федерация)
          p
            | Вид деятельности: строительство жилых и нежилых зданий.

          hr

          h3
            | АО «Инженерно-коммерческий центр «Тяжмаш» (Республика Алтай, г. Горно-Алтайск)
          p
            | оптовая торговля машинами и оборудованием.

          hr

          h3
            | ЗАО «КАРДАН» (г. Сызрань, Российская Федерация).
          p
            | Производство частей и принадлежностей к автомобилям и их двигателям.

          hr

          h3
            | ЗАО «Билфингер Бабкок ТЯЖМАШ» (г. Москва, Россия)
          p
            | Переоборудование электростанций, их модернизация, продление жизненного цикла и повышению эффективности. 

          hr

          h3
            | ООО «Волгоцемсервис» (г. Тольятти, Россия).
          p
            | Научные исследования и разработки в области естественных и технических наук.
          
          hr

          h3
            | ЗАО «ИКЦ ТЯЖМАШ» (г. Москва, Россия)
          p
            | Оптовая торговля машинами и оборудованием.

          hr

          h2
            | Филиалы и представительства:
          h3
            | Филиал АО «ТЯЖМАШ» в Республике Эль-Сальвадор 
          h3
            | Филиал АО «ТЯЖМАШ» в Республике Эквадор 
          h3
            | Представительство АО «ТЯЖМАШ» в городе Москва
          h3
            | Представительство АО «ТЯЖМАШ» в городе Самара
          h3
            | Представительство АО «ТЯЖМАШ» в г. Ханой (Социалистическая Республика Вьетнам)

        include ../blocks/block-footer/footer.pug

    // scripts

    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/scripts.js")