doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title ТЯЖМАШ | Интерактивный стол
    link(rel='stylesheet', href='../styles/animate.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // main

    main.tm-local.wow.fadeIn

      // container

      .tm-container.tm-container_local

        // header

        header.header

          h1.title-publ
            | Схема товарного выпуска, портфеля заказов

        // / header

        // content

        .tm-content

          p
            | Года	Заключенные договора на поставку продукции, млн. руб.
          table
            tr
              td
                | 2007
              td
                | 3 554, 2
            tr
              td
                | 2008
              td
                | 6 309,1	
            tr
              td
                | 2009
              td
                | 5 937, 6	
            tr
              td
                | 2010
              td
                | 10 167, 2	
            tr
              td
                | 2011
              td
                | 10 167, 2	
            tr
              td
                | 2012
              td
                | 12 670, 5
            tr
              td
                | 2013
              td
                | 5 838, 4
            tr
              td
                | 2014
              td
                | 7 936, 5
            tr
              td
                | 2015
              td
                | 27 827, 3
            tr
              td
                | 2016
              td
                | 14 211, 3	
            tr
              td
                | 2017
              td
                | 12900,4

          p
            | Товарный выпуск, в млн. руб.    

          table
            tr
              td
                | 2007 год
              td
                | 2 526,6
            tr
              td
                | 2008 год
              td
                | 3 532,9
            tr
              td
                | 2009 год
              td
                | 4 700,8
            tr
              td
                | 2010 год
              td
                | 4 803,6
            tr
              td
                | 2011 год
              td
                | 4 823,6
            tr
              td
                | 2012 год
              td
                | 6 050,0
            tr
              td
                | 2013 год
              td
                | 7 244,5
            tr
              td
                | 2014 год
              td
                | 8 766,7
            tr
              td
                | 2015 год
              td
                | 10 044,9                                                                                                              
            tr
              td
                | 2016 год
              td
                | 11 501,2
            tr
              td
                | 2017 год
              td
                | 12 200,6
            tr
              td
                | План 2018 год
              td
                | 13 500,0
	
        include ../blocks/block-footer/footer.pug

    // scripts

    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/scripts.js")