doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title ТЯЖМАШ | Интерактивный стол
    link(rel='stylesheet', href='../styles/animate.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // main

    main.tm-local.wow.fadeIn

      // container

      .tm-container.tm-container_local

        // header

        header.header

          h1.title-publ
            | Технические возможности

        // / header

        // content

        .tm-content

          p
            | Мощный интеллектуальный и производственно-технический потенциал завода позволяет создавать уникальное оборудование высокого класса. В составе завода имеется ряд производств, оснащенных всем необходимым оборудованием.

          h2
            | Механосборочное производство
          p
            | В механосборочных цехах задействовано около 1200 единиц металлорежущего оборудования, в т. ч. специализированные и агрегатные станки, автоматы и полуавтоматы, станки с числовым программным управлением (ЧПУ) и обрабатывающие центры, уникальные станки:
          ul
            li
              | Токарно-карусельный станок модели К 19М с диаметром обработки до 25 000 мм;
            li
              | Ряд токарно-карусельных станков с диаметром обработки 1200–13 000 мм, в том числе токарно-карусельный станок с ЧПУ SKJ 80-160D с диаметром обработки до 16 000 мм и с набором головок (для шлифования и фрезеровки, расточки);
            li
              | Горизонтально-расточные станки с максимальной зоной обработки 15 000×5000×3000 мм (ДхВхШ), в том числе модернизированные станки «Skoda» (с возможностью 5-осевой обработки), «Pama» и станки Новосибирского производственного объединения «Тяжстанкогидропресс»;
            li
              | Фрезерно-расточный станок SPIRIT с уникальным для данного типа оборудования вылетом шпинделя 2950 мм. Станок оснащен тремя сменными головками, в том числе и 5-осевой, а также бесконтактными системами измерений и инструментальным магазином. Имеет гидростатические направляющие по всем координатам перемещения, что гарантирует сохранение его точностных характеристик на протяжении многих десятилетий;
            li
              | Высокоскоростные фрезерно-расточные станки моделей Agile МЗ и Месmill фирмы «Emco-Mecof» с многоосевыми (3+2) угловыми головками; 
            li
              | 10 обрабатывающих центров производства ОАО «ИЗТС»;
            li
              | Оборудование для глубокого растачивания с длиной обработки до 6000 мм и диаметром расточки до 1100 мм;
            li
              | Горизонтально-хонинговальный станок НТН8000 с диаметром обработки от 40 до 560 мм и длиной хонингования до 8000 мм;
            li
              | Токарно-винторезные станки моделей КЖ-30 и 1682А с диаметрами обработки 5000 и 4150 мм, с расстоянием между центрами (РМЦ) 16 500 и 14 000 мм соответственно;
            li
              | Более 10 единиц новых токарных станков с ЧПУ производства ООО «Рязанский станкостроительный завод» с диаметром обработки до 1800 мм и РМЦ до 10 000 мм; 
            li
              | Универсальный фрезерно-токарный обрабатывающий 5-осевой центр DMС 80, осуществляющий фрезерную и токарную обработку, с возможностью обработки заготовок диаметром до 800 мм и проведения наладочных операций на наладочном месте ОЦ. Непрерывный цикл обработки осуществляется при помощи 2 столов-спутников. Возможно фасонное фрезерование поверхностей в 5-координатной системе;
            li
              | Универсальный фрезерно-токарный обрабатывающий 5-осевой центр DMU210FD, осуществляющий фрезерную и токарную обработку, с возможностью обработки заготовок диаметром до 2000 мм и высотой до 1250 мм, максимальной массой 5000 кг. Станок выполняет фрезерование зубьев шестерен любого модуля, частота вращения инструмента со скоростью до 12 000 об/мин обеспечивает высокое качество поверхности;
            li
              | Высокоточный токарно-фрезерный станок с ЧПУ с высокой жесткостью NL3000Y/2000 позволяет осуществлять токарную и фрезерную обработку деталей диаметром до 430 мм и длиной до 2000 мм, нарезку зубьев червячной фрезой;
            li
              | Токарно-фрезерный обрабатывающий центр NT6600/4000CG с ЧПУ предназначен для токарной и фрезерной обработки деталей диаметром до 1070 мм и длиной до 4076 мм, с возможностью растачивания внутренних диаметров на длине до 1500 мм и фрезерной обработкой со скоростью до 8000 об/мин;
            li
              | Продольно-фрезерный обрабатывающий центр модели 66К45Ф4, имеющий габаритные размеры рабочей зоны 4500×12 000×4000 мм (ШхДхВ);
            li
              | Два тяжелых портальных станка TOS KURIM FRUNQ300В-VR/10 и FRUFQ 450B-VR/14 со столами 8000×3000 и 12 000×4500 соответственно позволяют вести обработку самых сложных крупногабаритных деталей с минимальным количеством переустановок. Станки оснащены бесконтактными системами измерений инструмента и обрабатываемой детали, инструментальным магазином и имеют возможность вести 5-осевую обработку при помощи специальных сменных головок;
            li
              | Зубофрезерные станки для обработки зубчатых колес методом обкатки диаметром до 12400 мм и массой до 180 тонн, в том числе: модели КУ-306 (г. Коломна), станки фирм «Либхер» и «Клингенберг» моделей L3002 и АМК-852 соответственно, позволяющие производить обработку закаленных конических зубчатых передач циклополлоидного зацепления диаметром до 1100 мм и нарезаемым модулем до m-21,5;
            li
              | Мобильный контрольно-измерительный комплекс «FARO», позволяющий снимать геометрические параметры изделий с точностью от 0,02 мм в сфере радиусом до 35 000 мм.

          h2
            | Сварочное производство

          p
            | В заготовительном и сборочно-сварочном производствах используются модернизированные машины термической резки с ЧПУ (модели «Комета») и новые (модели «Falcon» и «SUPRAREX» производства фирмы «ESAB», последняя оборудована трехрезаковым поворотным блоком для снятия фасок). 
          p
            | Максимальная ширина вальцуемой обечайки в условиях производства АО «ТЯЖМАШ» может достигать 8000 мм при максимальной толщине 30 мм.
          p
            | Неоспоримые преимущества:
          ul
            li
              | Гидравлические прессы усилием от 800 тс и до 2500 тс;
            li
              | Листогибочные машины, включая уникальные вальцы «HAUSLER», позволяющие обработать листовой материал с шириной до 4000 мм и толщиной до 240 мм (горячий метод);   
            li
              | Установки для электрошлаковой сварки кольцевых и прямолинейных швов толщиной до 350 мм. 

        include ../blocks/block-footer/footer.pug

    // scripts

    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/scripts.js")