doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title ТЯЖМАШ | Интерактивный стол
    link(rel='stylesheet', href='../styles/animate.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // main

    main.tm-main.wow.fadeIn(data-wow-delay="1s")

      // container

      .tm-container.tm-container_small

        img.logo.tm-container__logo.wow.fadeIn(src="../img/logo.png" alt="@@" data-wow-delay="2s")

        ul.navigation.tm-container__navigation.wow.fadeIn(data-wow-delay="3s")

          // item

          li
            a.linkOne(href="#" title="")
              | История АО "ТЯЖМАШ"
            ul.linksOneSub
              li: a(href="#" title="") Презентация "История предприятия"
              li: a(href="#" title="") Награды АО "ТЯЖМАШ"
              li: a.linksSubClose(href="#" title="") Вернуться

          // item

          li
            a.linkTwo(href="#" title="")
              | ГК "ТЯЖМАШ"
            ul.linksTwoSub
              li: a(href="#" title="") Позиция АО «ТЯЖМАШ» на рынке сбыта 
              li: a(href="#" title="") Технические возможности
              li: a(href="#" title="") Дочерние предприятия, филиалы и представительства
              li: a(href="#" title="") Карта поставок
              li: a(href="#" title="") План-схема
              li: a(href="#" title="") Схема  товарного выпуска, портфеля заказов 
              li: a.linksSubClose(href="#" title="") Вернуться

          li
            a.linkThree(href="local.html" title="")
              | Продукция
            ul.linksThreeSub
              li: a(href="#" title="") Оборудование для горнодобывающей, металлургической и строительной промышленности
              li: a(href="#" title="") Оборудование для цементной промышленности
              li: a(href="#" title="") Оборудование для электростанций, работающих на твёрдом топливе (ТЭС)
              li: a(href="#" title="") Оборудование для атомных электростанций (АЭС)
              li: a(href="#" title="") Гидроэнергетическое и гидромеханическое оборудование
              li: a(href="#" title="") Специальное  оборудование         
              li: a(href="#" title="") Прочее оборудование
              li: a.linksSubClose(href="#" title="") Вернуться              

          li
            a.linkFour(href="local.html" title="")
              | Крупные реализованные проекты
            ul.linksFourSub
              li: a(href="#" title="") ЛОКОМОБИЛЬ
              li: a(href="#" title="") ТОПЛИВОПРИГОТОВИТЕЛЬНОЕ  ОБОРУДОВАНИЕ
              li: a(href="#" title="") ГИДРОТУРБИННОЕ ОБОРУДОВАНИЕ
              li: a(href="#" title="") ОБОРУДОВАНИЕ ДЛЯ АТОМНЫХ ЭЛЕКТРОСТАНЦИЙ
              li: a(href="#" title="") ОБОРУДОВАНИЕ ДЛЯ ГОРНО-ОБОГАТИЛЬНЫХ  КОМБИНАТОВ
              li: a(href="#" title="") ИЗДЕЛИЯ СПЕЦИАЛЬНОГО НАЗНАЧЕНИЯ         
              li: a.linksSubClose(href="#" title="") Вернуться 

          li
            a.linkFive(href="local.html" title="")
              | Заводские династии

          li
            a.linkSix(href="videogallery.html" title="")
              | Видеогалерея                        

    // scripts

    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/scripts.js")
