doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title ТЯЖМАШ | Интерактивный стол
    link(rel='stylesheet', href='../styles/animate.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // main

    main.tm-local.wow.fadeIn

      // container

      .tm-container.tm-container_local

        include ../blocks/block-header/header.pug

        // content

        .tm-content

          h1
            | Большой заголовок

          h2
            | Средний заголовок

          h3
            | Малый заголовок

          p
            | Текстовое описание публикации

          a(href="#" title="")
            | Ссылка

          hr

          img.image-product-normal.inline(src="../img/29.jpg" alt="@@")
          img.image-product-big.inline(src="../img/29.jpg" alt="@@")
          img.image-product-small.inline(src="../img/29.jpg" alt="@@")

        include ../blocks/block-footer/footer.pug

    // scripts

    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/scripts.js")