doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title ТЯЖМАШ | Интерактивный стол
    link(rel='stylesheet', href='../styles/style.css')
  body

    // main

    main.tm-local

      // container

      .tm-container.tm-container_local

        include ../blocks/block-header/header.pug

        // content

        .tm-content

          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptate numquam laudantium ut libero perferendis aliquam laborum saepe corporis? Ratione dolorum obcaecati cumque aliquid, pariatur totam eaque illum voluptatum rerum.
          
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eum odio perspiciatis dolorum voluptatibus ad, voluptas deserunt quidem magni repellendus a laboriosam facilis illum distinctio facere aperiam. Nihil, rem consequuntur!

          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptate numquam laudantium ut libero perferendis aliquam laborum saepe corporis? Ratione dolorum obcaecati cumque aliquid, pariatur totam eaque illum voluptatum rerum.
          
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eum odio perspiciatis dolorum voluptatibus ad, voluptas deserunt quidem magni repellendus a laboriosam facilis illum distinctio facere aperiam. Nihil, rem consequuntur!

          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptate numquam laudantium ut libero perferendis aliquam laborum saepe corporis? Ratione dolorum obcaecati cumque aliquid, pariatur totam eaque illum voluptatum rerum.
          
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eum odio perspiciatis dolorum voluptatibus ad, voluptas deserunt quidem magni repellendus a laboriosam facilis illum distinctio facere aperiam. Nihil, rem consequuntur!

          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptate numquam laudantium ut libero perferendis aliquam laborum saepe corporis? Ratione dolorum obcaecati cumque aliquid, pariatur totam eaque illum voluptatum rerum.
          
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eum odio perspiciatis dolorum voluptatibus ad, voluptas deserunt quidem magni repellendus a laboriosam facilis illum distinctio facere aperiam. Nihil, rem consequuntur!

          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptate numquam laudantium ut libero perferendis aliquam laborum saepe corporis? Ratione dolorum obcaecati cumque aliquid, pariatur totam eaque illum voluptatum rerum.
          
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eum odio perspiciatis dolorum voluptatibus ad, voluptas deserunt quidem magni repellendus a laboriosam facilis illum distinctio facere aperiam. Nihil, rem consequuntur!

          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptate numquam laudantium ut libero perferendis aliquam laborum saepe corporis? Ratione dolorum obcaecati cumque aliquid, pariatur totam eaque illum voluptatum rerum.
          
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eum odio perspiciatis dolorum voluptatibus ad, voluptas deserunt quidem magni repellendus a laboriosam facilis illum distinctio facere aperiam. Nihil, rem consequuntur!

          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptate numquam laudantium ut libero perferendis aliquam laborum saepe corporis? Ratione dolorum obcaecati cumque aliquid, pariatur totam eaque illum voluptatum rerum.
          
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eum odio perspiciatis dolorum voluptatibus ad, voluptas deserunt quidem magni repellendus a laboriosam facilis illum distinctio facere aperiam. Nihil, rem consequuntur!


        include ../blocks/block-footer/footer.pug