doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="img/favicon.png" type="image/png")  
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96")
    title ТЯЖМАШ | Интерактивный стол
    link(rel='stylesheet', href='../styles/animate.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // main

    main.tm-local.wow.fadeIn

      // container

      .tm-container.tm-container_local

        // header

        header.header

          h1.title-publ
            | Видеогалерея

        // / header

        // content

        .tm-content.videogallery

          // item

          .videogallery__item
            video(controls)
              source(src="../video/tm-for-vostochnii.mp4" type="video/mp4")
            p
              | Видеофильм « Создавая историю », к 70-летию АО «ТЯЖМАШ»

          // item

          .videogallery__item
            video(controls)
              source(src="../video/tm-for-vostochnii.mp4" type="video/mp4")
            p
              | Видеофильм к 75-летию АО «ТЯЖМАШ»

          // item

          .videogallery__item
            video(controls)
              source(src="../video/tm-for-vostochnii.mp4" type="video/mp4")
            p
              | Видеофильм «Музей трудовой славы АО «ТЯЖМАШ»

          // item

          .videogallery__item
            video(controls)
              source(src="../video/tm-for-vostochnii.mp4" type="video/mp4")
            p
              | Презентационный ролик «Базовая кафедра «Технология машиностроения»

          // item

          .videogallery__item
            video(controls)
              source(src="../video/tm-for-vostochnii.mp4" type="video/mp4")
            p
              | Видеоролик «Производство АО «ТЯЖМАШ»

          // item

          .videogallery__item
            video(controls)
              source(src="../video/tm-for-vostochnii.mp4" type="video/mp4")
            p
              | Видеофильм АО «ТЯЖМАШ» для космодрома «Восточный»

          // item

          .videogallery__item
            video(controls)
              source(src="../video/tm-for-vostochnii.mp4" type="video/mp4")
            p
              | Слайд-шоу АО «ТЯЖМАШ»

        include ../blocks/block-footer/footer.pug

    // scripts

    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/wow.min.js")
    script(src="../js/scripts.js")