// imports

@import '../styles/variables.less';
@import '../styles/fonts.css';
@import '../styles/reset.css';

//@import '../styles/reset.css';

// animation elements

a, a:hover, li, img, input, textarea {
	transition: all 0.5s ease-in-out;
}

@media only screen and (min-width : @mobile) {

	// default settings

	body {
		background: url('../img/shadow_bg.jpg') repeat-x top,
		url('../img/shadow_bg_bottom.jpg') repeat-x bottom;
	}

	a, a:hover {
		color: #1976aa;
	}

	.tm-main {
    	width: 100%;
    	height: 100vh;
    	overflow: hidden;
    	display: grid; // grid view
    	justify-items: center; // horizontal
		align-items: center; // vertical
		background: url('../img/build.png') no-repeat 50% 74%;
		grid-template-columns: 1fr;
	}

	.tm-local {
		margin: 0 5%;
    	width: auto !important;
    	height: 100vh;
    	overflow: hidden;
		display: block !important; // grid view
		
		//justify-items: center; // horizontal
    	//align-items: center; // vertical	
	}

	//.tm-container {}

	//.tm-container_small {}

	.tm-content {
		margin: 2% 0 2% 0;
		padding-right: 10px !important;

		width: auto;

		height: 66vh;
		overflow: scroll;

		// text styles

		p {
			margin-bottom: 10px !important;
			font: 22px 'robotoregular';
			line-height: 34px;
		}

		small {
			font: 16px 'robotoitalic';
			line-height: 24px;
		}

		span {
			font-family: 'robotomedium';
		}

		h1 {
			margin-bottom: 10px;
			font: 32px 'robotobold';
		}

		h2 {
			margin-bottom: 14px;
			font: 24px 'robotobold';
		}

		h3 {
			margin-bottom: 10px;
			font: 16px 'robotobold';
		}

		hr {
			margin: 20px 0;
			border: 0;
			height: 1px;
			outline: 0;
			width: 100%;
			background: @grey;
		}

		img {
			display: block;
			//padding: 10px;
			//background: @white;
			//border: 1px solid @grey;
		}

		// images

		.image-product-small {
			width: 220px;
			height: auto;
		}

		.image-product-normal {
			width: 420px;
			height: auto;
		}

		.image-product-big {
			width: 620px;
			height: auto;
		}

		.image-product-full {
			width: 100%;
			height: auto;
		}

		// inline

		.inline {
			display: inline-block;
		}

		a, a:hover {
			font: 16px 'robotomedium';
			color: @blue;
			text-decoration: underline;
		}

	}

	// positions

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.center {
		margin: 0 auto;
	}

	.tm-container_local {
		//width: auto;
		//margin: 0 5%;
		width: 100%;
		display: grid;
		grid-row-start:    header-start;
		grid-row-end:      content-start;
		grid-column-start: footer-start;

	}

	.title-publ {
		font: 32px 'TornadoCyrRegular';
		//margin-bottom: 30px;
		color: @black;
	}

	.logo {
		display: block;
	}

	.tm-container__logo {
		margin: 0 auto;
		margin-bottom: 90px;
		width: 310px;
		height: 64px;
	}

	.tm-container__logo_small {
		width: 146px;
		height: 30px;
	}

	.title-app {
		font: 28px 'TornadoCyrBold';
		font-style: italic;
		color: @black;
	}

	.navigation {
		padding: 0;
		height: 430px;

		li {
			text-align: center;

			a {
				font: 36px 'ZyalvaRegular';
				line-height: 82px;
				text-transform: uppercase;
				text-decoration: none;
				color: @black;

				&:hover, &:focus {
					color: @red;
					text-decoration: none;
				}

			}

			ul li a, ul li a:hover {
				line-height: 70px;
			}

		}

	}

}

// scroll button

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: @blue;
}
	
::-webkit-scrollbar{
	width: 4px;
}