// footer

header.footer
  
  img.logo.tm-container__logo_small(src="../img/logo.png" alt="@@")

  // control panel

  ul.tm-control-panel
    li
      a(href="#" title="")
        //| Назад
        img(src="../img/back.svg" alt="@@")
    li
      a(href="#" title="")
        //| На главную
        img(src="../img/home.svg" alt="@@")


// / footer