// videogallery

.videogallery {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.videogallery__item {
    width: auto;

    video {
        display: block;
        //width: 400px;
        width: 90%;
        height: 260px;
    }

    p {
        margin-top: 14px;
        width: auto;
        font: 16px 'robotoregular';
        line-height: 24px;
        color: @blue;
        //text-align: center;
    }

}